

<div class="container">
 <div class="row">
    <div id="main" class="small-12 large-centered columns">
      <h1>My Projecto</h1>
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Select Language  |  Escoja Lenguaje</button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
        <li><a href="/projects/new">ENGLISH</a></li>
        <li><a href="/projects/new">ESPAÑOL</a></li>
      </ul>
    </div>  
  </div>
</div>
