<<<<<<< HEAD

  <div class="container">
    <div class="row">
      <div id="main" class="small-12 large-centered columns">
        <h1>Welcome to My Projecto</h1>
        <p>Please select language | Por favor escoja lenguaje</p>
        <form method="get" action="/new" class="button_to">
          <div><input value="English" type="submit" /></div>
        </form>
        <form method="get" action="/new" class="button_to">
          <div><input value="Español" type="submit" /></div>
        </form>
      </div>  
    </div>
=======
<h1<!DOCTYPE html>
<html>
<body>
  <h1>Welcome to My Projecto</h1>
  <div> 
    <p>Please select language | Por favor escoja lenguaje</p>
    <form method="get" action="/projects/new" class="button_to">
      <div><input value="English" type="submit" /></div>
    </form>
    <form method="get" action="/projects/new" class="button_to">
      <div><input value="Español" type="submit" /></div>
    </form>
>>>>>>> 11b3d69326a61461cd3dd9e551e6034b0b03045c
  </div>
