
<h1 class="main_title">Projecto</h1>
<div class="container">
 <div class="row">
    <div id="main" class="small-12 large-centered columns">
      <button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">Select Language  |  Escoja Lenguaje</button><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
        <% supported_languages = {'English' => 'en', 'Español' => 'es'} %>
        <% supported_languages.each do |language, language_code| %>
          <li><%= link_to(language, new_project_path(locale: language_code)) %></li>
        <% end %>
      </ul>
    </div>  
  </div>
</div>


