/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @font-face {
  font-family: 'SketchTools';
  src:url('SketchTools.ttf');
  src:url('SketchTools.eot?#iefix') format('embedded-opentype'),
    url('SketchTools.svg#SketchTools') format('svg'),
    url('SketchTools.woff') format('woff'),
    url('SketchTools.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JISawblade';
  src:url('JISawblade.ttf');
  src:url('JISawblade.eot?#iefix') format('embedded-opentype'),
    url('JISawblade.svg#SketchTools') format('svg'),
    url('JISawblade.woff') format('woff'),
    url('JISawblade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vector';
  src:url('Vector.ttf');
  src:url('Vector.eot?#iefix') format('embedded-opentype'),
    url('Vector.svg#SketchTools') format('svg'),
    url('Vector.woff') format('woff'),
    url('Vector.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bluprint';
  src:url('Bluprint.ttf');
  src:url('Bluprint.eot?#iefix') format('embedded-opentype'),
    url('Bluprint.svg#SketchTools') format('svg'),
    url('Bluprint.woff') format('woff'),
    url('Bluprint.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*images*/

.dimensions {
  padding-top: 50px;
}


/*top bar and footer*/

.header-area {
    background-color: #008cba;
    max-height: 110px;
}

.header-area a {
  color: white;
}

.footer-area {
  background-color: #008cba;  
  /*color: #fff;*/
  min-height: 60px;
  padding: 20px 0 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}



body {
    background-color: #ccc;
}

h1 {
  text-align: center;
  font-family: 'SketchTools';
  /*font-family: 'JISawblade';*/
  /*font-family: 'Vector';*/
  /*font-family: 'Bluprint';*/
  color: white;
  font-size: 85px;
  font-weight: 400;
}

#main {
  text-align: center;
 }

.container {
  padding-top: 20px;
}

.dropdown.button, button.dropdown {
 /* padding-top: 20px;*/
  margin-top: 10px;
}

table {
  text-align: center;
}

#copyright {
  color: white;
  text-align: center;
}

